{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script>
            function USA(){
                window.open("https://scholarships.af/opportunity/stamps-scholarship-at-miami-university/")
            }
        </script>
    </head>

<body style="  text-align: center; background-image: url('{% static 'image/chance.jpeg' %}'); backdrop-filter: blur(10px);
z-index: -1;height: 100%;width: 100%;left: 0;top: 0;position: fixed;background-repeat: no-repeat;background-position: center;background-size: cover;
">>

    
 <h1 style="color: aliceblue;">{{ usa.location }} <br>{{ usa.university}}</h1>

<p style="color: aliceblue;">Field of study: {{ usa.Field_of_study }}</p>
<p style="color: aliceblue;">Degree: {{ usa.Degree }}</p>
<p style="color: aliceblue;">Apply Befor: {{ usa.time }}</p>
<p style="color: aliceblue;">Funding type: {{ usa.funding_type }}</p>
<p style="color: aliceblue;">Eligible Countreies: {{ usa.Eligible_Countreies }}</p>

    <button onclick="USA()" style=" float: right;border-style: hidden; background-color: gray; padding: 10px 20px;margin-right: 9.2cm; border-radius: 2cm; ;"> 
        go to link
    </button>
</body>
</html>