{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <script>
            function Tokyo_japan(){
                window.open("https://o4a*f.com/oppertunity/graduate-urban-and-environmental-studies-at-university-of-tokyo-japan/")
            }
        </script>
    </head>

<body style="  text-align: center; background-image: url('{% static 'image/chance.jpeg' %}'); backdrop-filter: blur(10px);
z-index: -1;height: 100%;width: 100%;left: 0;top: 0;position: fixed;background-repeat: no-repeat;background-position: center;background-size: cover;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    
    
 <h1 style="color: aliceblue;">{{ mymember.location }} <br>{{ mymember.university}}</h1>

<p style="color: aliceblue;">Field of study: {{ mymember.Field_of_study }}</p>
<p style="color: aliceblue;">Degree: {{ mymember.Degree }}</p>
<p style="color: aliceblue;">Apply Befor: {{ mymember.time }}</p>
<p style="color: aliceblue;">Funding type: {{ mymember.funding_type }}</p>
<p style="color: aliceblue;">Eligible Countreies: {{ mymember.Eligible_Countreies }}</p>
<button onclick="Tokyo_japan()" style=" float: right;border-style: hidden; background-color: gray; padding: 10px 20px;margin-right: 9.2cm; border-radius: 2cm; ;"> 
go to link
</button>



 

</body>
</html>